<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    h1,
    p {
        color: white;
    }

    body {
        background-color: #026873;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, .07) 50%, transparent 50%),
            linear-gradient(90deg, rgba(255, 255, 255, .13) 50%, transparent 50%),
            linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .17) 50%),
            linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, .19) 50%);
        background-size: 13px, 29px, 37px, 53px;
    }
</style>

<body>
    <div class="container text-center">
        <h1>Your password is:</h1>
        <h2 class="alert alert-success">{{ password }}</h2>
        <p>Note: Refresh the page for new password.</p>
        <a href="{% url 'home' %}" class="btn btn-warning btn-lg">Home</a>
    </div>
</body>

</html>